.UserTable {
  display: table-row; 
}

.UserTable > div {
  display: table-cell;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  
}

.UserList .UserTable:nth-child(even) {
  background-color: #f9f9f9;
}

.UserList .UserTable:hover {
  background-color: #f1f1f1;
}
